<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Tech-Blog</title>
</head>
<header class="header">
    <nav class="navbar">
        <ul class="navLinks" style="list-style: none">
            <li class="link">
                <button>
                   <a href="/">home</a>
                </button>
            </li>
            <li class="link">
                <button>dashboard</button>
            </li>
            <li class="link">
                <button>
                    <a href="/login">login</a>
                </button>
            </li>
        </ul>
    </nav>
</header>

<body>
    {{{body}}}
</body>
</html>