<button>
    <a href="/post">Write New Post</a>
</button>
<h1>Your posts:</h1>

<div class="dashboard-container">
    <div class="post-container">
    {{#each posts}}
        <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>{{text}}</p>
            </blockquote>
        </div>
        </div>
    {{/each}}
    </div>
    <div class="form-container">
        <form action="/dashboard" method="put" class="solo-forms">
            <h3>Update By Title:</h3>
            <input type="text" name="title" value="title"></input>
            <h3>Body:</h3>
            <input type="text" name="text" value="text"></input><br>
            <button type="submit">Update</button>
        </form>
        <form action="/dashboard" method="delete" class="solo-forms">
            <h3>Delete By Title:</h3>
            <input type="text" name="title" value="title"></input><br>
            <button type="submit">Delete</button>
        </form>
    </div>

</div>