
.header{
    background: rgba(15, 114, 15, 0.678);
}
.card{
    margin: 30px;
}
.navLinks{
    display: flex;
    
}
.link{
    margin: 30px;
}
#tech{
    margin: 20px;
    color: rgb(114, 98, 79);
    width: 25%;
    height: 20%;
    background-color: beige;
}
.header{
    display: flex;
}
#tech{
    text-align: center;
}
.dashboard-container{
    display: flex;
}
.post-container{
    width: 60%;
}
.form-container{
    text-align: center;
}
.solo-forms{
    border: 3px solid black;
    margin: 10px;
}
